<% layout('layouts/page') -%>
<% stylesheet('../public/css/app.css') -%>
<% block('title', "SYS/HELLO") -%>
<% block('stylesheets', '<link rel="stylesheet" href="css/app.css" />') -%>
<% block('info', "<h4>Search information about desirable item </h4><p>Type in barcode below</p><p>If there is no such barcode in database, it will create a new one</p>") -%>
<form action='/info' method="post" accept-charset="utf-8">
BARCODE:<input type="text" name='barcode' placeholder='14 characters' required="true" maxlength="14" size="16">
<button type="submit"> Scan</button>
</form>



