<% layout('layouts/page') -%>
<% stylesheet('../public/css/app.css') -%>
<% block('title', 'SimplifYourShopping') -%>
<% script('../public/js/addForm') -%>
<div class = "login"><form><input type = "text" name = "user">user</form><form><input type = "password" name = "pwd">pass</form><a href = "login.js"><log in></a></div>

<form><h5>
BARCODE:<input type="text" name ="barcode" value="" id = "barcode1">
<button type = "button" id = "button1" onclick = "addForm()">Submit</button></h5></form></div>

